<div class="wrapper">
  <app-progress-bar [progress]="progress" [lineWidth]="15"
    [status]="this.timerExceded ? progressBarStatus.Exceeded:progressBarStatus.Normal">
    <div class="fields-wrapper">
      <div class="labels-wrapper">
        <label class="label margin-top-20" for="estimate"> Estimate </label>
        <br>
        <label class="label" for="completed"> Completed </label>
        <br>
        <label class="label" [ngClass]="{'exceded' : timerExceded}" for="remainingTime">
          {{timerExceded ? 'Exceeded' : 'Remaining' }} </label>
      </div>
      <div class="input-fields">
        <mat-form-field>
          <input matInput name="estimate" type="time" [(ngModel)]="estimate" (ngModelChange)="updateRemainingTime()">
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput name="completed" type="time" [(ngModel)]="completed"
            (ngModelChange)="updateRemainingTime()" />
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput [ngClass]="{'exceded' : timerExceded}" name="remainingTime" type="time"
            [(ngModel)]="remainingTime" disabled />
        </mat-form-field>
      </div>
    </div>
  </app-progress-bar>
</div>